body, html, .d-flex{
    height: 100%;
    overflow: hidden;
}
#idPic{
    width:80%
}
.left-div{
    height: 100vh; background-color: #163853;
}
#navButton {
    transition: background-color 0.3s ease;
    border: 20px;
    border-radius: 20px;
}
.fade-enter-active {
    transition: all 0.3s ease-out;
}

.fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter-from,
.fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
