body, html, .d-flex{
    height: 100%;
}
#idPic{
    width:80%
}
.left-div{
    height: 100vh; background-color: #163853;
}
#navButton {
    transition: background-color 0.3s ease;
    border: 20px;
    border-radius: 20px;
}